#!/usr/bin/env sh

/usr/bin/mono --debug /usr/lib/sonarr-{{ ansible_env.SONARR_VERSION }}/NzbDrone.exe -nobrowse -data={{ ansible_env.SONARR_CONFIG | default('/var/lib/' + (ansible_env.USER | default('docker')) + '/.config/sonarr') }}
