[mono-project]
name=Mono-Project
baseurl=http://download.mono-project.com/repo/centos/
enabled=1
gpgcheck=1
gpgkey=http://keyserver.ubuntu.com/pks/lookup?op=get&search=0x3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF